/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'LAKAMEALEON';
    src: url('../../fonts/LAKAMEALEON.eot');
    src: url('../../fonts/LAKAMEALEON.eot') format('embedded-opentype'),
         url('../../fonts/LAKAMEALEON.woff2') format('woff2'),
         url('../../fonts/LAKAMEALEON.woff') format('woff'),
         url('../../fonts/LAKAMEALEON.ttf') format('truetype'),
         url('../../fonts/LAKAMEALEON.svg#LAKAMEALEON') format('svg');
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'LAKAMEALEON';
    letter-spacing: 2px;
    transition: all 350ms ease 0s;
}
h1,h2,h3,h4,h5{
    font-weight: lighter;
}
html,body{
    width: 100%;
    height: 100%;
}
body {
  background: #000; 
  overflow-x: hidden;
}
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../../../assets/images/bg-poster-video.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.effect-video{
    background: url(../../../assets/images/bg-effect-video.png) repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.stopfade { 
   opacity: .5;
}
.block {
  text-align: center;
  height: 100%;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 940px;
  margin: 0 auto;
}
.logo-block{
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.logo,
.thunder{
    float: left;
    visibility: hidden;
}
.logo{
    margin: 0 40px;
    visibility: hidden;
}
.logo svg{
    width: 220px;
    height: auto;
}
.thunder img{
    width: 100px;
    height: 136px;
}
.info-block{
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.info-block h2{
    font-size: 180px;
    color: #fff;
    float: left;
    width: 100%;
    text-shadow: 0 8px 4px rgba(0, 0, 0, 0.45);
     visibility: hidden;
}
.info-block h2 span{
    color: #c0c0c0;
}
.info-block h4{
    font-size: 40px;
    color: #fff;
    letter-spacing: 4px;
    float: left;
    width: 100%;
    margin-top: -78px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    visibility: hidden;
}
.info-block h4 span,
.info-block h3 span{
    color: #fbe664;
}
.info-block h3{
    font-size: 116px;
    color: #fff;
    float: left; 
    width: 100%;
    margin-top: -56px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
    visibility: hidden;
}
.buttons-block{
    clear: both;
    width: 100%;
    float: left;
    margin-top: -22px;
}
.button-inscrever{
    background: rgba(69,208,46,0.1);
    border: solid 5px #97d08e;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 6px 0;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
    visibility: hidden;
}
.button-inscrever h4{
    color: #97d08e;
    font-size: 44px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.button-inscrever p{
    color: #fff;
    font-size: 18px;
    margin-top: -16px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.button-inscrever:hover{
    background: #97d08e;
}
.button-inscrever:hover h4{
    color: #fff;
}
.







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
